# ###
#

# ###
**/.DS_Store

# ###
**/package-lock.json
**/node_modules/
**/.next/

# ###
**/out/
**/dist/

# ###
.obsidian/
.obsidian.*/
.markdowndb/
markdown.db

# ###
tsconfig.tsbuildinfo
.vscode/
.idea/
